html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

body::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    background-image: url('https://images.pexels.com/photos/96654/pexels-photo-96654.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #333;
    padding: 20px;
}

h1 {
    color: white;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 20px;
    padding-top: 20px;
}

form {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: transform 0.3s ease-in-out;
    width: 90%;
    max-width: 600px;
}

form:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.25);
}

input[type="file"], input[type="button"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ddd;
    margin-bottom: 12px;
    cursor: pointer;
    box-sizing: border-box;
}

input[type="file"]:hover, input[type="file"]:focus,
input[type="submit"]:hover, input[type="button"]:hover {
    border-color: #8390fa;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ddd;
    background-image: linear-gradient(to right, #ffffff, #f9f9f9);
    color: #333;
    margin-bottom: 12px;
    cursor: pointer;
    box-sizing: border-box;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

select:hover, select:focus {
    background-image: linear-gradient(to right, #8390fa, #96c2fd);
    color: white;
}

input[type="submit"], input[type="button"] {
    background-image: linear-gradient(to right, #8390fa, #96c2fd);
    color: white;
}

input[type="submit"]:disabled {
    background: #ccc;
    cursor: not-allowed;
}

img {
    max-width: 100%;
    max-height: 50vh;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-top: 20px;
}

.caption {
    color: white;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    width: auto;
    text-align: center;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ddd;
    background-image: linear-gradient(to right, #8390fa, #96c2fd);
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-image: linear-gradient(to right, #96c2fd, #8390fa);
}

#compareForm {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#drawer {
    background: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 10px;
    transition: right 0.5s ease-in-out;
}

#drawer label {
    display: block;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
}

#drawer select {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 2px solid #ddd;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    appearance: none;
}

#drawer select:hover, #drawer select:focus {
    border-color: #8390fa;
    background-image: linear-gradient(to right, #8390fa, #96c2fd);
    color: white;
}

/* Tooltip or Helper Text */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

button {
    margin: 10px;
    padding: 8px 16px;
    background-color: #8390fa;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #96c2fd;
}

.audio-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #8390fa;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.audio-button, .compare-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.audio-button i, .compare-button i {
    margin-right: 8px;
}

.audio-button:hover {
    background-color: #96c2fd;
}
