<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Image to Text</title>
</head>
<body>
    <h1>Convert Your Image to Text</h1>
    <form method="POST" action="/" enctype="multipart/form-data">
        <input type="file" name="userfile" placeholder="Upload your image" onchange="enableSubmitButton()">
        <select name="model_choice" required onchange="enableSubmitButton()">
            <option value="">Select a model</option>
            <option value="densenet_lstm">DenseNet + LSTM</option>
            <option value="resnet_lstm">ResNet + LSTM</option>
            <option value="vgg_lstm">VGG + LSTM</option>
            <option value="inception_lstm">Inception + LSTM</option>
            <option value="efficient_lstm">Efficient + LSTM</option>
        </select>
        <input type="submit" id="submitButton" value="Generate Caption" disabled>
        <input type="button" id="resetButton" value="Reset" onclick="resetPage()" style="display: none;">
    </form>
    {% if result %}
        <img alt="{{result['caption']}}" src="{{ result['image'] }}" onload="toggleResetButton()">
        <div class="caption">Generated Caption: <i>{{result['caption']}}</i></div>
        <button onclick="speakText('{{result['caption']}}')" class="audio-button" id="listenButton">
            <i class="fas fa-volume-up"></i> Listen
        </button>
    {% endif %}
    <script src="../static/js/scripts.js"></script>
</body>
</html>
